<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <!-- <a href="/new">New message</a> -->
  <ul>
    <% messages.forEach(function(messages) { %>
      <li>
        <strong><%= messages.username %></strong>: <%= messages.text %> <br>
        Added on: <%= messages.added %>
      </li>
    <% }) %>
  </ul>

</body>
</html>